<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>743697512140-dbpsc78jbal9scnosd970uagiqf1lpmc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.743697512140-dbpsc78jbal9scnosd970uagiqf1lpmc</string>
	<key>API_KEY</key>
	<string>AIzaSyC-Fa5p-fW-YHSw8ihVTI76ik4mOWla1jk</string>
	<key>GCM_SENDER_ID</key>
	<string>743697512140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.smartysoftware.smartshopadmin</string>
	<key>PROJECT_ID</key>
	<string>smart-shop-admin</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-shop-admin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743697512140:ios:b3b5c665a94eae243ff469</string>
</dict>
</plist>